body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

#scroll-container {
  border: 1px solid black;
  overflow: hidden;
  color: white;
  background-color: rgb(0, 0, 0);
}

menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: 
  linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
  linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
  linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
  linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
}

menu a:hover {
  text-decoration: underline;
  animation: linearGradientMove .3s infinite linear;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  margin-right: 60px;
  margin-top: 200px;
  background: 
  linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
  linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
  linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
  linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  max-width: 70%;
  animation: linearGradientMove .3s infinite linear;
}

.image-container {
  border: 3px dashed black;
}

.image-container img {
  max-height: 500px;
  max-width: 500px;
}

.text-container  {
  margin-top: 150px;
  margin-left: 10px;
  display: flex;
  max-height: 500px;
}

footer {
  background-color: black;
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 20px;
  opacity: 0.9;
  margin-top: 250px;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer a:hover {
  text-decoration: underline;
}