@media (max-width: 1900px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 140px 140px;
    }

}

@media (max-width: 1800px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 120px 120px;
    }

}

@media (max-width: 1600px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 80px 80px;
    }

}






















