.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  transition: opacity 2s, visibility 2s;
  z-index: 9999; 
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #e73c7e;
  border-radius: 50%;
  animation: loading 2s ease infinite;
}

@keyframes loading {
  from {
      transform: rotate(0turn);
  }
  to {
      transform: rotate(1turn);
  }
}


.loader--hidden {
  opacity: 0;
  visibility: hidden;
}