body {
    margin: 0;
    padding: 0;
    background-color: beige;
  }

  #scroll-container {
    border: 1px solid black;
    overflow: hidden;
    color: beige;
    background-color: rgb(0, 0, 0);
  }

  #scroll-text {
    transform: translateX(100%);
    animation: my-animation 15s linear infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown img {
    max-height: 60px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 40px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 2px solid black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  section {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    height: 410px;
}

section h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

section li {
    margin: 0 15px; 
}

section a {
    display: flex;
    text-decoration: none; 
    color: #000000; 
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    padding: 200px 200px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
}


section a:hover {
    text-decoration: underline;
    animation: moveDashedBorder 2s linear infinite;
}

  footer {
    background-color: black;
    color: beige; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 20px;
    opacity: 0.9;
    margin-top: 316px;
  }

  footer a {
    color: beige;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  footer a:hover {
    text-decoration: underline;
  }