body {
    margin: 0;
    padding: 0;
    background-color: beige;
  }

  #scroll-container {
    border: 1px solid black;
    overflow: hidden;
    color: beige;
    background-color: rgb(0, 0, 0);
  }

  .home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .home-button img {
    max-height: 40px;
    max-width: auto;
  }

  .section1 {
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .text-container  {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }

  .text-container h1 {
    background: 
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
    background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 41px;
    text-transform: uppercase;
    padding: 20px 100px;
    animation: linearGradientMove .3s infinite linear;
  }

  .text-container p {
    font-size: medium;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 41px;
    height: 650px;
    background: 
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
    background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .3s infinite linear;
  }

  .text-container a {
    border: 2px dashed #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 41px;
    text-decoration: none;
    padding: 20px 100px;
    text-transform: uppercase;
    color: black;
    float: right;
  }

  .text-container a:hover {
    text-decoration: underline;
  }


  footer {
    background-color: black;
    color: beige; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 20px;
    opacity: 0.9;
    margin-top: 80px;
  }

  footer a {
    color: beige;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  footer a:hover {
    text-decoration: underline;
  }