@media (max-width: 1600px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 120px 120px;
    }

}

@media (max-width: 1450px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 100px 100px;
    }

}

@media (max-width: 1300px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav {
        margin-top: 250px;
    }

    nav a {
        font-size: 17px;
        padding: 60px 60px;
    }

}


@media (max-width: 900px) {
    #scroll#scroll-container {
        width: 100px;
    }

    
    nav a {
        font-size: 17px;
        padding: 30px 30px;
    }

}



















