@media (max-width: 1600px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 195px 195px;
    }

}

@media (max-width: 1550px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 190px 190px;
    }


}

@media (max-width: 1500px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 185px 185px;
    }

}

@media (max-width: 1450px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 175px 175px;
    }



}

@media (max-width: 1400px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 165px 165px;
    }


}

@media (max-width: 1350px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 155px 155px;
    }


}

@media (max-width: 1300px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 145px 145px;
    }


}

@media (max-width: 1250px) {
    #scroll#scroll-container {
        width: 100px;
    }

    .logo {
        margin-top: 30px;
    }

    nav a {
        font-size: 17px;
        padding: 135px 145px;
    }



}


@media (max-width: 1200px) {
    #scroll#scroll-container {
        width: 100px;
    }

    .logo {
        margin-top: 50px;
    }

    nav a {
        font-size: 17px;
        padding: 125px 125px;
    }


}

@media (max-width: 1150px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 115px 115px;
    }



}

@media (max-width: 1100px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 105px 110px;
    }

    nav {
        margin-top: 100px;
    }
    


}

@media (max-width: 1050px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav {
        margin-top: 150px;
    }
    

    nav a {
        font-size: 17px;
        padding: 95px 100px;
    }



}

@media (max-width: 1000px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav a {
        font-size: 17px;
        padding: 85px 90px;
    }


}

@media (max-width: 950px) {
    #scroll#scroll-container {
        width: 100px;
    }



    nav a {
        font-size: 17px;
        padding: 75px 80px;
    }



}

@media (max-width: 900px) {
    #scroll#scroll-container {
        width: 100px;
    }



    nav a {
        font-size: 17px;
        padding: 65px 70px;
    }



}


@media (max-width: 850px) {
    #scroll#scroll-container {
        width: 100px;
    }




    nav a {
        font-size: 17px;
        padding: 55px 60px;
    }



}


@media (max-width: 800px) {
    #scroll#scroll-container {
        width: 100px;
    }




    nav a {
        font-size: 17px;
        padding: 45px 50px;
    }



}

@media (max-width: 750px) {
    #scroll#scroll-container {
        width: 100px;
    }

    nav {
        margin-top: 200px;
    }


    nav a {
        font-size: 17px;
        padding: 40px 45px;
    }



}



















