body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
}

#scroll-container {
  border: 1px solid black;
  overflow: hidden;
  color: white;
  background-color: rgb(0, 0, 0);
}

#scroll-text {
  transform: translateX(100%);
  animation: my-animation 15s linear infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

article {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 100px;
}

article h1 {
  padding: 10px 80px;
  box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
}


  nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }

  nav menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; 
  }

  nav li {
      margin: 0 15px; 
      text-align: center;
  }

  nav a {
    display: flex;
    flex-direction: column; /* Display content vertically (stacked) */
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 160px 165px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    height: 150px;
    font-size: 18px;
}

nav img {
    width: 125px;
    height: 120px;
    margin-bottom: 15px; /* Add margin at the bottom for spacing */
}

  nav a:hover {
      text-decoration: underline;
      animation: moveDashedBorder 2s linear infinite;
  }

  section {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
  }

  section li {
    margin: 0 15px; 
  }
  
  section a {
    display: flex;
    text-decoration: none; 
    color: #000000; 
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 200px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
}

  section a:hover {
    text-decoration: underline;
    animation: moveDashedBorder 2s linear infinite;
  }

  section menu img {
    height: 25px;
  }