
.popup {
  display: none; /* Set initial display to none */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px;
  height: 650px;
  width: 900px;
  animation: gradient 40s ease infinite;
}

.popup-content {
  text-align: center;
}

.popup-content p {
  color: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}