body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
  }

  #scroll-container {
    border: 1px solid black;
    overflow: hidden;
    color: white;
    background-color: rgb(0, 0, 0);
  }

  #scroll-text {
    transform: translateX(100%);
    animation: my-animation 15s linear infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: beige;
    margin-top: 12px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    margin-left: 12px;
    padding: 20px;
  }
  
  .dropdown img {
    max-height: 60px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
    min-width: 40px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-content img {
    border: 2px solid black;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section ul {
    list-style-type: none;
    padding: 10px 200px;
    height: 700px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  }

  section h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  section p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  section li {
      margin: 10px;
      text-align: center;
  }
