body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
  }

  #scroll-container {
    border: 1px solid black;
    overflow: hidden;
    color: white;
    background-color: rgb(0, 0, 0);
  }

  #scroll-text {
    transform: translateX(100%);
    animation: my-animation 15s linear infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: beige;
    margin-top: 12px;
    padding: 20px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
}

.dropdown img {
    max-height: 60px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
    min-width: 40px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content img {
    border: 2px solid black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

  section {
    display: flex;
    flex-direction: column;
    margin: 10px; /* Add spacing between button groups */
    justify-content: center;
    align-items: center;
} 

.article1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article1 h1 {
  padding: 10px 80px;
  box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.2);
}


  .article2 {
      text-align: center;
      justify-content: center;
      box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 10px 200px;
      height: 650px;
  }

  .article2 h1 {
    text-transform: uppercase;
  }

  .article2 a {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: block;
  }

  .article2 ul {
    list-style: none;
  }

  .article2 a:hover {
    text-decoration: none;
  }
    
  .article2 img {
    height: 500px;
    width: 800px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
    outline: 2px solid black;
  }

  .article2 iframe {
    height: 500px;
    width: 800px;
  }
    

    nav {
      display: flex; 
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; 
  }

  nav li {
    margin: 0 15px; 
}

  nav a {
      display: flex;
      text-decoration: none; 
      color: #000000; 
      font-size: 25px;
      text-transform: uppercase;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 20px 200px;
      box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  }

  nav a:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
  }

  menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }




