  @keyframes my-animation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes moveDashedBorder {
    0% {
        border: 2px dashed rgb(0, 0, 0);
        margin: 0;
    }
    25% {
        border: 2px dashed rgb(0, 0, 0);
        margin-right: 25px;
    }
    50% {
        border: 2px dashed rgb(0, 0, 0);
        margin: 25px;
    }
    75% {
        border: 2px dashed rgb(0, 0, 0);
        margin-left: 25px;
    }
    100% {
        border: 2px dashed rgb(0, 0, 0);
        margin: 0;
    }
  }

  